<%- include('partials/header') %>

<section>
  <h2>Contact Me</h2>
  <p>You can reach me through:</p>
  <ul>
    <li>Email: <a href="mailto:wenbinchong1124@gmail.com">wenbinchong1124@gmail.com</a></li>
<li>LinkedIn: <a href="https://www.linkedin.com/in/chong-wen-bin-b1516733a/" target="_blank">linkedin.com</a></li>
<li>GitHub: <a href="https://github.com/JamescodingInGit" target="_blank">github.com/JamescodingInGit</a></li>
  </ul>
</section>

<%- include('partials/footer') %>
